@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Bangers');

/* RESET */

a {
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}

/* COMMONS */

body
{
  background-image: url('../images/fond.png');
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
}
.inner
{
  width: 90%;
  margin: auto;
}
h1
{
  margin: 2rem;
  color: #277cb3;
  text-align: center;
  font: 4rem Bangers, arial, sans-serif;
}
h2
{
  color: #277cb3;
}
.btn
{
  margin-top: 10px;
  padding: 10px;
  background-color: #277cb3;
  border-radius: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.btn:hover
{
  background-color: #00568D;
}
.btn a:visited {
  color: white;
}
legend
{
  color: #277cb3;
}

/* HEADER */

#banniere
{
  margin: 0;
  width: 100%;
  height: 200px;
  background-position: center;
  background-image: url('../images/banniere-fondnoir.jpg');
}

/* NAVIGATION */

.block-nav
{
  background-color: #277cb3;
  border-top: 1px solid white;
}
.block-nav .inner .ul-princ
{
  display: flex;
}
.block-nav .inner .li-princ
{
  position: relative;
}
.block-nav .inner .li-princ:not(:last-child) {
  border-right: 1px solid white;
}
.block-nav .inner a
{
  display: block;
  padding: 1rem;
  transition: all 0.5s ease-in;
  color: white;
}
.block-nav .inner .a-princ
{
  font-weight: bold;
}
.block-nav .inner .ul-second
{
  display: none;
  background-color: #277cb3;
  left: 0;
  top: 100%;
  min-width: 100%;
}
.block-nav .inner .li-princ:focus > .ul-second,
.block-nav .inner .li-princ:hover > .ul-second
{
  display: block;
  position: absolute;
}
.block-nav .inner li a:hover
{
  background-color: #55AFD4;
  color: black;
}

/* MAIN */

.block-main .inner .corps-forum h2
{
  margin: 1rem;
  text-align: center;
}
.ico
{
  width:2%
}
.titre
{
  width:61%;
}
.nombremessages
{
  width:2%;
}
.nombrevu
{
  width:4%;
}
.nombresujets
{
  width:2%;
}
.auteur
{
  width:7%;
}
.derniermessage
{
  width:18%;
}
.categorie
{
  width:92%;
  background-color : rgb(244,238,250);
}

.corps-forum
{
border: 1px solid white;
border-radius: 10px;
margin-top: 50px;
margin-bottom: 50px;
padding: 10px;
background-color: #E3E3E3;
}

td
{
  border: 1px solid #C7C7C7;
  background-color: white;
  vertical-align:top;
  padding: 10px;
}
table
{
  background-color: rgb(237,224,213);
  border: 1px solid white;
  margin: auto;
}
th
{
  background-color: #277cb3;
  color: white;
  border: 1px solid #C7C7C7;
  padding: 10px;
}
.derniermessage-content
{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* FOOTER */

.footer
{
border: 1px solid white;
border-radius: 10px;
background-color: #E3E3E3;
width: 90%;
margin: auto;
margin-bottom: 50px;
padding: 10px;
}

/* CONNEXION / DECONNEXION / INSCRIPTION */

input,
textarea
{
  padding: 5px;
}
.form-connexion
{
  width: 30%;
  margin: auto;
}
.form-connexion p
{
  text-align: center;
}
.error_co
{
  text-align: center;
}
.block-deconnexion
{
  text-align: center;
}
.block-connexion
{
  text-align: center;
}
.error
{
  text-align: center;
}

/* PROFIL */

.btn-content
{
  display: flex;
  justify-content: center;
}

/* TOPICS */

.table-topic
{
  width: 100%;
}
.vt-auteur
{
width:20%;
background-color : #277cb3;
}
.vt-mess
{
width:75%;
background-color : #277cb3;
}
.icone
{
  margin: 3px;
  cursor: pointer;
}
.smiley
{
  width: 20px;
  height: 20px;
}
.mise-en-forme
{
  display: flex;
  align-items: center;
}
#quote
{
width: 100%;
background-color : rgb(220,220,220);
margin-top: 2px;
margin-bottom: 2px;
font-family: "Comic sans MS", Arial, Verdana, serif;
}
